@import url(https://fonts.googleapis.com/css?family=Raleway:400,300|Open+Sans+Condensed:300|Dosis:400,300|Josefin+Sans|Quicksand|BenchNine:400,300);

$raleway:'Raleway', sans-serif;
$open-sans: 'Open Sans Condensed', sans-serif;
$dosis: 'Dosis', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$benchnine: 'BenchNine', sans-serif;
