@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Raleway|Open+Sans|Dosis|Josefin+Sans|Quicksand|BenchNine|Droid+Sans|Ubuntu|Open+Sans+Condensed:300|Roboto+Slab|Arimo|Indie+Flower|Poiret+One|Merriweather+Sans:400,800|Limelight|Ceviche+One|Press+Start+2P|Knewave|Nosifer);


$source-sans: 'Source Sans Pro', sans-serif;
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans Condensed', sans-serif;
$dosis: 'Dosis', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$benchnine: 'BenchNine', sans-serif;
$droidsans: 'Droid Sans', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$arimo: 'Arimo', sans-serif;
$indie-flower: 'Indie Flower', cursive;
$poiret: 'Poiret One', cursive;
$nosifer: 'Nosifer', cursive;
$knewave: 'Knewave', cursive;
$start2p: 'Press Start 2P', cursive;
$ceviche: 'Ceviche One', cursive;
$limelight: 'Limelight', cursive;
$merriweather: 'Merriweather Sans', sans-serif;
