#login{
  margin-left: 312px;
  text-align: center;
}
.modal-header{
  margin-left: 312px;
}

.modal-body{
  text-align: center;
}

.close{
  margin-left: 50px;
}

.modal-header{
  margin-top: 20px;
}

#loginbutton{
  font-family: $limelight;
}

#loginpw{
  font-family: $limelight;
}

#loginemail{
  font-family: $limelight;
}

#modalsi{
  font-family: $limelight;
}
