#seshhead1{
  text-align: center;
  font-family: $start2p;
}
.form-field{
  text-align: center;
}

#seshlog{
  text-align: center;
}

.loginerror{
  color: red;
  text-shadow: 2px 2px white;
  text-align: center;
  font-family: $start2p;
  font-size: 40px;
}
