
#reg-header{
  font-family: $start2p;
  text-align: center;
  color: white;
  text-shadow: 2px 2px green;
}
#name-reg{
  font-family: $start2p;
  text-align: center;
  margin-bottom: 5px;
  color: white;
  text-shadow: 2px 2px green;
  margin-left: 49px;
}
#email-reg{
  font-family: $start2p;
  text-align: center;
  margin-bottom: 5px;
  color: white;
  text-shadow: 2px 2px green;
  margin-left: 49px;
}

#pw-reg{
  font-family: $start2p;
  text-align: center;
  margin-left: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-shadow: 2px 2px green;
}

#pwc-reg{
  font-family: $start2p;
  text-align: center;
  margin-right: 49px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 2px green;
}

#sub-reg{
  font-family: $start2p;
  text-align: center;
}

.registerpage{
  background-size: 100%;
}

.email-font{
  color: gold;
}
