h1{
  font-family: $josefin;
  font-weight: bold, italic;
  font-size: 80px;
  text-align: center;
  color: white;
}
#intro{
  font-family: $benchnine;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  color: white;
}

.button{
  text-align: center;
  margin-top: 20px;
}

.homepage{
  background-size: 100%
}
