#profhead{
  font-family: $start2p;
  font-size: 30px;
  margin-left: 30px;
}

.prof-props{
  font-family: $ubuntu;
  font-size: 20px;
  margin-left: 15px;
}

#prof-post-intro{
  font-family: $ubuntu;
  font-size: 25px;
  margin-left: 15px;
}

.prof-post-list-group-item{
  margin-left: 15px;
}

.prof-bg{
  background-size: 100%;
  height: 800px;
}

#info-head{
  font-size: 25px;
}

#prof-comments-intro{
  font-family: $ubuntu;
  font-size: 25px;
  margin-left: 15px;
}

.prof-list-group-item{
  margin-left: 15px;
}

.edit-user-btn{
  margin-left: 30px;
}
