#comments{
  margin-left: 312px;
  text-align: center;
}
.commodal-header{
  margin-left: 312px;
  margin-top: 20px;
}

.commodal-body{
  text-align: center;
}

.close{
  margin-left: 50px;
}



#loginb{
  font-family: $limelight;
}

#loginpw{
  font-family: $limelight;
}

#loginemail{
  font-family: $limelight;
}

#modalcom{
  font-family: $limelight;
}
