#newposthead{
  font-family: $ubuntu;
  font-size: 25px;
  margin-left: 30px;
  color: white;
  text-shadow: 2px 2px black;
}

.post-form{
  font-family: $ubuntu;
  font-size: 20px;
  margin-left: 40px;
  color: white;
  text-shadow: 2px 2px black;
}

.sub-btn{
  margin-left: 50px;
}

#post-tit{
  margin-left: 12px;
}

#post-body{
  margin-left: 6px;
}
