<!DOCTYPE html>
<html>
<head>
  <div id="navbar-modal"></div>
  <title>Basketballoggin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"> $(function ()

    { $("#myModal").modal({show:false });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
